/* Default styles for .article-detail */
.article-detail {
  width: 60%;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  box-shadow: 0px 0.25rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #ffffff;
}

.article-detail h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.article-detail h4 {
  font-size: 1rem;
  color: #999;
  margin-bottom: 0.5rem;
}

.detailed-view-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.article-detail p {
  color: #333;
  line-height: 1.6rem;
  margin-bottom: 0.5rem;
}

.article-link {
  font-family: 'AVENGEANCE MIGHTIEST AVENGER';
  color: #fd6930; 
  cursor: pointer; 
}

.article-link:active {
  color: black;
}

.article-detail p:first-of-type {
  font-weight: bold;
  color: #555;
}

.article-detail > div {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  color: #999;
}


@media (max-width: 1200px) {
  .article-detail {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .article-detail {
    width: 90%;
  }
}


