/* BrowserPage.css */
.browser-title {
  font-family: 'AVENGEANCE MIGHTIEST AVENGER';
  color:rgb(229, 223, 216);
  text-align: center;
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly; 
  gap: 20px;
}